// COLORS
$white: #fff;
$black: #000;
$text: #1f1f1f;
$nav: #575757;
$hover: #f1f1f1;
$active: #e44232;
$link: #316fea;
$reviews: #ffd669;
$footer1: #fff9f3;
$footer2: #f2ece7; 

// FONT
$navbar: 'Noto Sans JP', sans-serif;
$titles: 'Lato', sans-serif;
