<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todoist | Clone - Home</title>
     <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <!-- CSS -->
    <link rel="stylesheet" href="./dist/css/app.css">
    </head>
</head>
<body>
    <!-- HEADER -->
    <header>
        <div class="header container">
            <div class="menu-btn">
                <span class="menu-btn__burger"></span>
            </div>
        
            <!-- logo mobile -->
            <a class="nav-logo--mobile" href="/">
                <img src="images/Todoist_logo_mobile.png" alt="todoist-logo-mobile">
            </a>
        
            <!-- logo desktop -->
            <a class="nav-logo--desktop" href="/">
                <img src="images/Todoist_logo.png" alt="todoist-logo-desktop">
            </a>

            <nav class="nav">
                <ul class="menu-nav">
                    <li class="menu-nav__item">
                        <a href="#!" class="menu-nav__link">
                            Features
                        </a>
                    </li>
                    <li class="menu-nav__item">
                        <a href="#!" class="menu-nav__link">
                            Premium
                        </a>
                    </li>
                    <li class="menu-nav__item">
                        <a href="#!" class="menu-nav__link">
                            For Teams
                        </a>
                    </li>
                    <li class="menu-nav__item">
                        <a href="#!" class="menu-nav__link">
                            Resources
                        </a>
                    </li>
                </ul>
                <ul class="menu-signin">
                    <li class="menu-signin__item btn btn__secondary">
                        <a href="#!" class="">
                            Login
                        </a>
                    </li>
                    <li class="menu-signin__item btn btn__primary">
                        <a href="#!" class="">
                            Signup
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="nav-sign">
                <ul class="nav-sign__list">
                    <li class="nav-sign__item">
                        <a href="#!">Login</a>
                    </li>
                    <li class="nav-sign__item">
                        <a href="#!">Signup</a>
                    </li>
                </ul>
            </div>

            <span class="nav--bg"></span>
            
        </div>
    </header>

    <!-- HERO + IMG-->
    <section class="hero">
        <div class="hero__top container">
            <div class="hero__title ">
                <h1>Get a Look to my To Do List in Vue.js</h1>
                <a class="btn btn__primary btn__primary--hero nowrap" href="todos.html">Go to Vue.js TO DO LIST </a>
            </div>
            <img src="./images/hero.webp" alt=""> 
            <img class="hero__title--bg" src="./images/header-bg@2x.webp" alt="">
            <div class=" hero__bottom">
                <img class="hero__bottom--phone" src="./images/phone.webp" alt="">
                <img class="hero__bottom--desktop" src="./images/desktop.webp" alt=""> 
            </div>
        </div>
    </section>

    <!-- FREE UP -->
    <section class="freeup__box container t-center">
        <h2>Free up your mental space</h2>
        <p>Regain clarity and calmness by getting all those tasks out of your head and onto your to-do list (no matter where you are or what device you use).</p>
        <div class="freeup__links">
            <a href="#!">
                <i class="fas fa-arrow-right"></i>
                <span>Browse Todoist’s features</span>
            </a>
            <a href="#!">
                <i class="far fa-play-circle"></i>
                <span>See Todoist in action</span>
            </a>
        </div>
    </section>

    <!-- REVIEWS -->
    <section class="reviews">
        <div class="reviews__bg"></div>
        <div class="reviews__box">
            <div class="reviews__card">
                <p class="p-small">Google Play</p>
                <div class="reviews__card__text">
                    <div class="reviews__card__stars" >
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Editor’s Choice 4.7 stars, 187K+ reviews</h4>
                </div>
            </div>
            <div class="reviews__card">
                <p class="p-small">App Store</p>
                <div class="reviews__card__text">
                    <div class="reviews__card__stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>Featured app 4.8 stars, 30K+ reviews</h4>
                </div>
            </div>
            <div class="reviews__card">
                <p class="p-small">The Verge</p>
                <div class="reviews__card__text">
                    <h4>9/10<br> “The best to-do list app right now”</h4>
                </div>
            </div>

        </div>
    </section>

    <!-- VIDEO -->
    <section class="video container">
        <div class="video__top">
            <p  class="video__top__text">Todoist has helped 
                <br>
                millions of people complete
                <br>
                <span class="p-big ">over 1.5 billion tasks
                <br>
                in 150+ million projects.
                </span>
            </p>
            <div  class="video__top__logos">
                <i class="fab fa-amazon"></i>
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-yahoo"></i>
                <i class="fab fa-reddit"></i>
                <i class="fab fa-wordpress"></i>
            </div>
        </div>
        <div class="video__bottom">
            <div class="video__bottom__player">
                <img class="video__bottom__player--back" src="./images/video-bg.webp" alt="">
                <img class="video__bottom__player--front" src="./images/video.webp" alt="">
                <i class="fas fa-play-circle"></i>
            </div>
            <a href="#!">
                <i class="fas fa-arrow-right"></i>
                Learn more about Todoist community
            </a>
        </div>
    </section>

    <!-- SLIDER -->
    <section id="slider" class="slider">
        <div class="slider__box">
            <div class="slider__cards">
                <div class="slider__card__text">
                    <div class="slider__card__text__quote">
                        <h5>"</h5>
                        <blockquote>
                            {{ photos[indexPhoto].blockquote }}
                        </blockquote>
                        <div class="slider__card__text__sub">
                            <div>
                                <p class="p-small">{{ photos[indexPhoto].signature }}</p>
                                <p class="p-small">{{ photos[indexPhoto].role }}</p>
                            </div>
                            <a href="#!">
                                <i class="fas fa-arrow-right"></i>
                                Read More
                            </a>
                        </div>
                    </div>
                </div>
                <div class="slider__card__image">
                    <img class="slider__box_img" :src="photos[indexPhoto].img" :alt="photos[indexPhoto].signature">
                </div>
            </div>
            <div class="slider__list">
                <span v-for="(item, index) in photos"
                    :class="index == indexPhoto ? 'slideractive' : '' "
                    class=""
                    @click="setPhoto(index)">
                    <p v-if="index == 0">{{ photos[0].sub }}</p>
                    <p v-if="index == 1">{{ photos[1].sub }}</p>
                    <p v-if="index == 2">{{ photos[2].sub }}</p>
                    <p v-if="index == 3">{{ photos[3].sub }}</p>
                    <p v-if="index == 4">{{ photos[4].sub }}</p>
                    <p v-if="index == 5">{{ photos[5].sub }}</p>
                    <p v-if="index == 6">{{ photos[6].sub }}</p>
                </span>
            </div>
        </div>
    </section>
    
    <!-- TASK MANAGER -->
    <section class="taskmanager">
        <div class="taskmanager__box taskmanager__box__top container">
            <div class="taskmanager__text">
                <h2>A task manager you can trust for life</h2>
                <p>In the 14 years and 30 days that we’ve been building Todoist, we’ve never considered selling out or becoming acquired.</p>
                <p>Our team is committed to staying independent and earning your trust for as long as you need our apps.</p>
                <a class="taskmanager__text__link" href="#!">
                    <i class="fas fa-arrow-right"></i>
                    Learn about our long-term mission
                </a>
            </div>
            <img src="./images/homebox1.webp" alt="">
        </div>
        <div class="taskmanager__box__bottom ">
            <div class="taskmanager__box taskmanager__box--bottom container ">
            <img src="./images/homebox2.webp" alt="">
            <div class="taskmanager__text">
                <h2>Achieve peace of mind with Todoist</h2>
                <a class="btn btn__primary btn__primary--hero nowrap" href="todos.html">Get Started </a>
            </div>
        </div>  
    </section>

    <!-- FOOTER -->
    <footer>
        <div class="footer__top">
            <div class="footer__top__box container">
                <div class="footer__top__left">
                    <p class="footer__top__left__text">
                        Join millions of people who organize work and life with Todoist.
                    </p>
                    <ul class="footer__top__left__icons">
                        <li class="footer__top__left__icon">
                            <i class="fab fa-facebook"></i>
                        </li>
                        <li>
                            <i class="fab fa-twitter"></i>
                        </li>
                        <li>
                            <i class="fab fa-youtube"></i>
                        </li>
                        <li>
                            <i class="fab fa-instagram"></i>
                        </li>
                    </ul>
                </div>
                <div class="footer__top__right">
                    <div class="footer__col">
                        <p class="footer__col__title">
                            features
                        </p>
                        <ul class="footer__col_list">
                            <li class="footer__col__item">
                                <a href="#!">how it works</a>
                            </li>
                            <li class="footer__col__item">
                                <a href="#!">premium</a>
                            </li>
                            <li class="footer__col__item">
                                <a href="#!">for teams</a>
                            </li>
                            <li class="footer__col__item">
                                <a href="#!">pricing</a>
                            </li>
                            <li class="footer__col__item">
                                <a href="#!">templates</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__col">
                        <p class="footer__col__title">
                            resources
                        </p>
                        <ul class="footer__col_list">
                            <li class="footer__col__item">
                                <a href="#!">download apps</a>
                            </li>
                            <li class="footer__col__item">
                                <a href="#!">help center</a>
                            </li>
                            <li class="footer__col__item">
                                <a href="#!">productivity methods</a>
                            </li>
                            <li class="footer__col__item">
                                <a href="#!">refer a friend</a>
                            </li>
                            <li class="footer__col__item">
                                <a href="#!">integrations</a>
                            </li>
                            <li class="footer__col__item">
                                <a href="#!">channel partners</a>
                            </li>
                            <li class="footer__col__item">
                                <a href="#!">developer API</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__col">
                        <p class="footer__col__title">
                            company
                        </p>
                        <ul class="footer__col_list">
                            <li class="footer__col__item">
                                <a href="#!">about us</a>
                            </li>
                            <li class="footer__col__item">
                                <a href="#!">we are hiring!</a>
                            </li>
                            <li class="footer__col__item">
                                <a href="#!">blog</a>
                            </li>
                            <li class="footer__col__item">
                                <a href="#!">press</a>
                            </li>
                            <li class="footer__col__item">
                                <a href="#!">twist</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <ul class="container footer__bottom__list">
                <li>
                    <a href="#!">Security</a>
                </li>
                <li>
                    <a href="#!">Privacy</a>
                </li>
                <li>
                    <a href="#!">Terms</a>
                </li>
                <li>
                    <p>&copy; Doist Inc.</p>
                </li>
            </ul>
        </div>
    </footer>


    
    <script src="dist/js/app.js"></script>
    <script src="dist/js/slider.js"></script>
</body>
</html>